In [11]:
import pandas as pd
import numpy as np
from IPython.display import display

In [12]:
df_cat = pd.read_csv("../datasets/predict-future-sales/categories.csv")
df_ite = pd.read_csv("../datasets/predict-future-sales/items.csv")

In [13]:
display(df_cat.sample(10))
df_ite.sample(10)

                    category_name  category_id
48    Books - Computer literature           48
61             Gifts - Attributes           61
15       Game consoles - XBOX 360           15
43             Books - Audiobooks           43
33          Payment Cards - Live!           33
30   PC Games - Standard Editions           30
16       Game consoles - XBOX ONE           16
27             MAC Games - Number           27
2               Accessories - PS3            2
0      PC - Headsets / Headphones            0

       item_id  category_id                                          item_name
8908      8908           40                            BloodRayne 3 (DVD + BD)
2578      2578           55                         DEL REY LANA Ultraviolence
18598    18598           37                             SEX IN BIG CITY 2 (BD)
990        990           67            3D Action Puzzle "Dinosaurs" Robosaurus
18896    18896           40  SMURFICS. FIRST CHRISTMAS OF THE SMURFIKA TABL...
6366      6366           56                 SUPERMAX Best Of CD + DVD (firms).
10658    10658           67                            Puzzle Rubik's Cube 3x3
1998      1998           31  Borderlands 2. Dome of Bloodshed [PC, Digital ...
1251      1251           56                                    ADELE 21 (firm)
20921    20921           72              Figurine Mignon Stewart in camouflage

In [14]:
def get_cat(string):
    string = string.split(" - ")[0] if len(string.split("-")) >= 2 else "missing"
    return string
df_cat['category'] = df_cat['category_name'].apply(lambda x: get_cat(x))
df_cat.category.value_counts()

 Books            13
 Gifts            12
 Game consoles     8
 Games             8
 Accessories       7
missing            7
 Programs          6
 Music             6
 Cinema            5
 PC Games          4
 Payment Cards     2
 Payment cards     2
 MAC Games         1
 Android games     1
PC                 1
 Service           1
Name: category, dtype: int64

In [15]:
df_cat.head()

                category_name  category_id      category
0  PC - Headsets / Headphones            0            PC
1           Accessories - PS2            1   Accessories
2           Accessories - PS3            2   Accessories
3           Accessories - PS4            3   Accessories
4           Accessories - PSP            4   Accessories

In [16]:
def get_subcat(string):
    string = string.split(" - ")[1] if len(string.split("-")) >= 2 else "missing"
    return string
df_cat["subcategory"] = df_cat.category_name.apply(lambda x: get_subcat(x))

In [17]:
df_cat.loc[df_cat.category == "missing"]

                            category_name  category_id category subcategory
8                       Tickets (Digital)            8  missing     missing
9                       Delivery of goods            9  missing     missing
32   Payment Cards (Cinema, Music, Games)           32  missing     missing
79                                Service           79  missing     missing
81                    Blank media (spire)           81  missing     missing
82                   Blank media (piece)            82  missing     missing
83                              Batteries           83  missing     missing

In [18]:
df_cat.loc[df_cat.subcategory == "missing"]

                            category_name  category_id category subcategory
8                       Tickets (Digital)            8  missing     missing
9                       Delivery of goods            9  missing     missing
32   Payment Cards (Cinema, Music, Games)           32  missing     missing
79                                Service           79  missing     missing
81                    Blank media (spire)           81  missing     missing
82                   Blank media (piece)            82  missing     missing
83                              Batteries           83  missing     missing

In [19]:
df_cat.sample(10)

,category_name,category_id,category,subcategory
38,Cinema - Blu-Ray 3D,38,Cinema,Blu-Ray 3D
40,Cinema - DVD,40,Cinema,DVD
71,"Gifts - Bags, Albums, Mousepads",71,Gifts,"Bags, Albums, Mousepads"
46,Books - Business literature,46,Books,Business literature
58,Music - Vinyl,58,Music,Vinyl
68,"Gifts - Certificates, services",68,Gifts,"Certificates, services"
62,"Gifts - Gadgets, robots , sports",62,Gifts,"Gadgets, robots , sports"
0,PC - Headsets / Headphones,0,PC,Headsets / Headphones
61,Gifts - Attributes,61,Gifts,Attributes
11,Game consoles - PS3,11,Game consoles,PS3

In [20]:
df_cat.subcategory.unique()

array(['Headsets / Headphones', 'PS2', 'PS3', 'PS4', 'PSP', 'PSVita',
       'XBOX 360', 'XBOX ONE', 'missing', 'Others', 'Game accessories',
       'Number', 'Additional Editions', "Collector's Editions",
       'Standard Editions', 'Digital', 'Live!', 'Live! (Digital)', 'PSN',
       'Windows (Digital)', 'Blu-Ray', 'Blu-Ray 3D', 'Blu-Ray 4K', 'DVD',
       "Collector's", 'Artbooks, encyclopedias ', 'Audiobooks',
       'Audiobooks (Digit)', 'Audiobooks 1C', 'Business literature',
       'Comics, manga', 'Computer literature',
       'Methodological materials 1C', 'Postcards', 'Cognitive literature',
       'Guides', 'Fiction', 'CD of local production',
       'CD of corporate production', 'MP3', 'Vinyl', 'Music video',
       'Gift editions', 'Attributes', 'Gadgets, robots , sports',
       'Soft toys', 'Board games', 'Board games (compact)',
       'Cards, stickers', 'Development', 'Certificates, services',
       'Souvenirs', 'Souvenirs (hinged)', 'Bags, Albums, Mousepads',
       'Figures', '1C: Enterprise 8', 'MAC (Digit)',
       'For home and office', 'For home and office (Digit)',
       'Educational', 'Educational (Digit)', 'Tickets'], dtype=object)

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
import re

In [22]:
text_cat = df_cat.category
bow = CountVectorizer()
text_bow = bow.fit_transform(text_cat)
pd.DataFrame(data = text_bow.toarray(), columns=bow.get_feature_names())

,accessories,android,books,cards,cinema,consoles,game,games,gifts,mac,missing,music,payment,pc,programs,service
0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
80,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
81,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
82,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
83,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [23]:
text_cat = df_cat.category
bow = CountVectorizer(ngram_range=(1, 2))
text_bow = bow.fit_transform(text_cat)
pd.DataFrame(data = text_bow.toarray(), columns=bow.get_feature_names())

,accessories,android,android games,books,cards,cinema,consoles,game,game consoles,games,...,mac,mac games,missing,music,payment,payment cards,pc,pc games,programs,service
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
80,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
81,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
82,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
83,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [24]:
text_cat = df_cat.subcategory
bow = CountVectorizer()
text_bow = bow.fit_transform(text_cat)
pd.DataFrame(data = text_bow.toarray(), columns=bow.get_feature_names())

,1c,360,3d,4k,accessories,additional,albums,and,artbooks,attributes,...,souvenirs,sports,standard,stickers,tickets,toys,video,vinyl,windows,xbox
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
81,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
82,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
83,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
text_cat = df_ite.item_name
bow = CountVectorizer()
text_bow = bow.fit_transform(text_cat)
pd.DataFrame(data = text_bow.toarray(), columns=bow.get_feature_names())

,00,000,00002,00003,00005,00006,00007,00008,00009h,00010,...,zverushki,zvongo,zykina,zz,çudovi,épilog,šapka,širli,žanna,žel
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22165,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22166,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22167,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22168,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22169,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
text_cat = df_ite.item_name
bow = CountVectorizer(ngram_range=(1, 2), dtype=np.int32)
text_bow = bow.fit_transform(text_cat)
pd.DataFrame(data = text_bow.toarray(), columns=bow.get_feature_names())

,00,00 07,000,000 accessories,000 dawn,000 kill,000 leagues,000 miniatures,000 points,000 rulebook,...,épilog,épilog cd,šapka,šapka nevidimka,širli,širli myrli,žanna,žanna grand,žel,žel boks
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22165,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22166,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22167,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22168,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22169,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
text_cat = df_ite.item_name
bow = TfidfVectorizer( dtype=np.float32)
text_bow = bow.fit_transform(text_cat)
df_items_Tfi = pd.DataFrame(data = text_bow.toarray(), columns=bow.get_feature_names())
df_items_Tfi

,00,000,00002,00003,00005,00006,00007,00008,00009h,00010,...,zverushki,zvongo,zykina,zz,çudovi,épilog,šapka,širli,žanna,žel
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22165,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22166,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22167,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22168,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22169,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
value = 1 in df_items_Tfi.iloc[:,1]
value

True

In [29]:
text_cat = df_ite.item_name
bow = TfidfVectorizer(ngram_range=(1, 2), dtype=np.float32)
text_bow = bow.fit_transform(text_cat)
df_items_Tfi = pd.DataFrame(data = text_bow.toarray(), columns=bow.get_feature_names())

In [30]:
df_items_Tfi.loc[df_items_Tfi.iloc[:,2] > 0]

,00,00 07,000,000 accessories,000 dawn,000 kill,000 leagues,000 miniatures,000 points,000 rulebook,...,épilog,épilog cd,šapka,šapka nevidimka,širli,širli myrli,žanna,žanna grand,žel,žel boks
34,0.0,0.0,0.229884,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
198,0.0,0.0,0.204014,0.000000,0.000000,0.0,0.309339,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5267,0.0,0.0,0.197298,0.000000,0.000000,0.0,0.000000,0.000000,0.299156,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7569,0.0,0.0,0.262739,0.199191,0.000000,0.0,0.000000,0.000000,0.000000,0.199191,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7570,0.0,0.0,0.178291,0.000000,0.000000,0.0,0.000000,0.200241,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7774,0.0,0.0,0.256641,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7775,0.0,0.0,0.203885,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7776,0.0,0.0,0.196248,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7778,0.0,0.0,0.213024,0.000000,0.240349,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13153,0.0,0.0,0.208154,0.000000,0.234854,0.0,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0