# Exercise 9: Which stocks move together?

In the previous exercise, you clustered companies by their daily stock price movements.  So which company have stock prices that tend to change in the same way?  Now inspect the cluster labels from your clustering to find out.

**Step 1:** Load the data _(written for you)_.

In [11]:
import pandas as pd

fn = '../datasets/company-stock-movements-2010-2015-incl.csv'
stocks_df = pd.read_csv(fn, index_col=0)

**Step 2:** Run your code from the previous exercise _(filled in for you)_.

In [12]:
companies = list(stocks_df.index)
movements = stocks_df.values

from sklearn.preprocessing import Normalizer
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline

normalizer = Normalizer()
kmeans = KMeans(n_clusters=14)
pipeline = make_pipeline(normalizer, kmeans)
pipeline.fit(movements)

Pipeline(steps=[('normalizer', Normalizer()),
                ('kmeans', KMeans(n_clusters=14))])

**Step 3:** Use the `.predict()` method of the pipeline to predict the labels for `movements`.

In [13]:
labels = pipeline.predict(movements)

**Step 4:** Align the cluster labels with the list of company names `companies` by creating a DataFrame `df` with `labels` and `companies` as columns.

In [14]:
df = pd.DataFrame(columns=['labels', 'companies'])
df['labels'] = labels
df['companies'] = companies

**Step 5:** Now display the DataFrame, sorted by cluster label.  To do this, use the `.sort_values()` method of `df` to sort the DataFrame by the `'labels'` column.

In [15]:
df = df.sort_values(by='labels')
df

    labels                           companies
14       0                                Dell
22       0                                  HP
35       1                            Navistar
8        1                         Caterpillar
13       1                   DuPont de Nemours
56       2                            Wal-Mart
57       3                               Exxon
53       3                       Valero Energy
39       3                              Pfizer
10       3                      ConocoPhillips
44       3                        Schlumberger
12       3                             Chevron
28       3                           Coca Cola
25       4                   Johnson & Johnson
38       4                               Pepsi
40       4                      Procter Gamble
27       4                      Kimberly-Clark
9        4                   Colgate-Palmolive
43       5                                 SAP
41       5                       Philip Morris
19       5                     GlaxoSmithKline
46       5                      Sanofi-Aventis
6        5            British American Tobacco
49       5                               Total
37       5                            Novartis
52       5                            Unilever
54       5                            Walgreen
42       5                   Royal Dutch Shell
33       5                           Microsoft
1        6                                 AIG
55       7                         Wells Fargo
15       7                                Ford
3        7                    American express
5        7                     Bank of America
26       7                      JPMorgan Chase
16       7                   General Electrics
18       7                       Goldman Sachs
4        8                              Boeing
47       8                            Symantec
11       8                               Cisco
30       8                          MasterCard
31       8                           McDonalds
23       8                                 IBM
58       8                               Xerox
32       8                                  3M
20       8                          Home Depot
36       9                    Northrop Grumman
29       9                     Lookheed Martin
21      10                               Honda
45      10                                Sony
7       10                               Canon
48      10                              Toyota
34      10                          Mitsubishi
24      11                               Intel
50      11  Taiwan Semiconductor Manufacturing
51      11                   Texas instruments
59      12                               Yahoo
2       12                              Amazon
17      13                     Google/Alphabet
0       13                               Apple

**Great job!** Using k-means, you've discovered which companies stock prices move together on the stock exchange.