## Exercise predict futere sales

Ex 1

In [14]:
import pandas as pd


df_sales = pd.read_csv("../datasets/predict-future-sales/sales_train.csv")
df_sales.head(), df_sales.shape

(         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
 0  02.01.2013               0       59    22154      999.00           1.0
 1  03.01.2013               0       25     2552      899.00           1.0
 2  05.01.2013               0       25     2552      899.00          -1.0
 3  06.01.2013               0       25     2554     1709.05           1.0
 4  15.01.2013               0       25     2555     1099.00           1.0,
 (2935849, 6))

In [15]:
df_sales.isna().sum()

date              0
date_block_num    0
shop_id           0
item_id           0
item_price        0
item_cnt_day      0
dtype: int64

In [22]:
df_oct = df_sales[df_sales['date_block_num'] == 33]
df_oct.shape

(53514, 6)

In [24]:
df_month = df_sales.groupby('date').sum().reset_index()
df_month

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,01.01.2013,0,54436,17148075,1.211779e+06,1951.0
1,01.01.2014,22224,62408,17988989,1.702078e+06,2310.0
2,01.01.2015,40152,55377,15670556,2.329375e+06,2117.0
3,01.02.2013,3356,94801,35875911,2.246770e+06,3817.0
4,01.02.2014,60983,157693,46359990,3.513899e+06,5711.0
...,...,...,...,...,...,...
1029,31.10.2013,25299,90306,27128753,2.439256e+06,3826.0
1030,31.10.2014,54264,86430,26278290,2.824445e+06,3014.0
1031,31.10.2015,85107,84973,27965175,2.847151e+06,3104.0
1032,31.12.2013,85415,256372,74393070,8.566767e+06,10514.0
1033,31.12.2014,191981,275199,83384841,1.127468e+07,11394.0